@font-face {
  font-family: "C64 Pro Local";
  src: url("../resources/fonts/C64_Pro-STYLE.woff") format("woff");

}

html, body {
  margin: 0;
  background-color: black;
  color: #ffd700;
  font: normal 1.75vw "C64 Pro Local", verdana, helvetica, sans-serif;
  line-height: 150%;

  cursor: crosshair;

  text-shadow: 0 0 10px #ffd700;

  overflow:hidden;
}

a, a:visited {
  color: #ffd700;
  pointer-events: auto;
}

a:hover {
  color: #ffff66;
  text-shadow: 0 0 10px #ffd700;
}

.blue {
  color: rgb(75, 213, 238);
  text-shadow: 
    0 0 10px rgba(255,255,255,.0125),
    /*0 0 20px rgba(255,255,255,.0125), 
    0 0 30px rgba(255,255,255,.0125), */
    0 0 20px rgb(75, 213, 238)
    /*0 0 70px rgb(75, 213, 238), 
    0 0 80px rgb(75, 213, 238), 
    0 0 100px rgb(75, 213, 238)*/;
  
}

.center {
  text-align: center;
}

.small {
  font: normal 1vw "C64 Pro Local", verdana, helvetica, sans-serif; 
}

.outline {
  text-shadow: .125vw .125vw 0 black, 0 0 10px rgba(255,0,0,.0125);
}

.buttonOutline, a.buttonOutline  {
  box-shadow: .125vw .125vw 0 black, 0 0 10px rgba(255,0,0,.0125);
}

h1 {
  font: bold 2vw "C64 Pro Local", verdana, helvetica, sans-serif;
  margin-bottom: 5vw;
}

.overlay a {
  text-decoration: none;
  cursor: pointer;

}

.flexContainer {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  /* center vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #ffd700;
  color: black;
  border: none;
  font: normal 1.75vw "C64 Pro Local", verdana, helvetica, sans-serif;
  padding: .75vw 2vw;
  margin-top: 5vw;

  cursor: crosshair;

  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 0 0 10px #ffd700;
  
  pointer-events:auto;
}

button, .button, .button:visited {
  background-color: #ffd700;
  color: black;
  border: none;
  padding: .75vw 1.5vw;
  
  cursor: crosshair;

  text-shadow: none;
  text-decoration: none;

  box-shadow: 0 0 10px #ffd700;
  
  pointer-events:auto;
}

button {
  font: normal 1.75vw "C64 Pro Local", verdana, helvetica, sans-serif;
  
  margin-top: 5vw;

  position: absolute;
  top: 0;
  left: 0;
}

button:hover, .button:hover {
  background-color: #ffff66;
  box-shadow: 0 0 30px #ffd700;
  color: #440000;
  text-shadow: 0 0 3px #ff0000;
  /*, 0 0 40px #ffd700;*/
  /*0 0 10px rgba(255,255,255,.0125) , 0 0 20px rgba(255,255,255,.0125) , 0 0 30px #ffff33, 0 0 40px #ffff33, 0 0 70px #ffff33 , 0 0 80px #ffff33 , 0 0 100px #ffff33;*/
  
}

#overlayContainer {
   /*background-color: rgba(255,0,0,.5);*/
   width: 100%;
   padding-top: 52%;
   position: relative; /* If you want text inside of it */
}

#textContainer {
   pointer-events: none;
}

.textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.debug {
  border: .25vw solid green;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}

.fadeIn {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  opacity: 0;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  margin: 20px;
  background-color: rgba(255,255,255,.5);
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;

  cursor: crosshair;

  width: 100%;
}

.tatooine {
  background-image: url('../resources/rooms/tatooine.png');
  background-size: 100%;
}

.space {
  background-image: url('../resources/rooms/space.png');
  background-size: 50%;
}

.corridor {
  background-image: url('../resources/rooms/corridor.png');
  background-size: 100%;
  background-repeat: no-repeat;
}